  <div class="group">
  	<%= link_to("New Post", new_admin_product_path(@product), class: "btn btn-warning pull-right") %>
  </div>
	<table class="table table-hover">
		<thread>
			<tr>
				<td>#</td>
				<td>Product Pic</td>
				<td>Name</td>
				<td>Price</td>
				<td>Options</td>			
			</tr>
		</thread>
		<tbody>